<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanoteam.easiliphelper"
    android:versionCode="1"
    android:versionName="0.1">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="31" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:label="Easilip Helper">
        <activity
            android:name=".ListenerActivity"
			android:exported="false"
			android:launchMode="singleInstance"
			android:alwaysRetainTaskState="false"
			android:configChanges="orientation|screenSize"
			android:fitsSystemWindows="true" >
        </activity>
        <service
			android:name=".QueryPackagesService"
			android:label="Query packages service"
			android:process=":easilipprocess"
			android:exported="false" />
        <service
			android:name=".InstallPackagesService"
			android:label="Install packages service"
			android:process=":easilipprocess"
			android:exported="false" />
    </application>
</manifest>
